@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@import "tailwindcss";

*{
    font-family: Outfit;
}
*::-webkit-scrollbar {
    display: none;
}


.bg-primary {
    background-color: #5f6FFF;
}
.hover:bg-primary {
    background-color: #5f6FFF;
}

.active hr{
    @apply block
}

@theme {
    --grid-cols-auto: repeat(auto-fill, minmax(200px, 1fr));
}

@media (max-width : 740px) {
    .active p{
        @apply text-white bg-[#5f6FFF]
    }
}

@keyframes loader {
    0% {transform:  rotate(0deg);}
    40% {transform: rotate(360deg);}
    100% {transform: rotate(360deg);}
}

.loader{
    animation-delay: 1s;
    animation: loader 2s linear infinite;
}